# PostgreSQL
DATABASE_URL=postgresql://postgres:123456@127.0.0.1:5432/PKM

# MinIO
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=root
MINIO_SECRET_KEY=88888888
MINIO_REGION=us-east-1
MINIO_BUCKET=knowledgemap

# REST API Port
API_PORT=3001
